# ETL Process

## Imports

In [1]:
import pandas as pd
import sqlalchemy as db
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData
from sqlalchemy.dialects.mysql import VARCHAR, INTEGER, DECIMAL
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

## Dataset

In [2]:
df = pd.read_csv('data.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,0

## Prepare Individual Dataframes

In [3]:
hosts = df[['host_id', 'host_name']].drop_duplicates()
room_types = df[['room_type']].drop_duplicates()
locations = df[['latitude', 'longitude', 'neighbourhood', 'neighbourhood_group']]
neighbourhoods = df[['neighbourhood', 'neighbourhood_group']].drop_duplicates()
neighbourhood_groups = df[['neighbourhood_group']].drop_duplicates()

## Neighbourhood Groups Table

In [4]:
engine = create_engine('mysql://eff3dkg8r5y5l42x:hldf6ajnwjyzo90f@cis9cbtgerlk68wl.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/dpuui2kh95t8cclk', echo=True)
meta = MetaData()
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()
connection = engine.connect()

2021-01-29 10:57:26,944 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-01-29 10:57:26,945 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:27,185 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-01-29 10:57:27,186 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:27,686 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2021-01-29 10:57:27,687 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:28,146 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2021-01-29 10:57:28,147 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:28,381 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2021-01-29 10:57:28,382 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:28,611 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2021-01-29 10:57:28,613 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:28,866 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2021-01-29 10:57:28,867 INFO sqlalchemy.engine.base.Engine ()

In [5]:
neighbourhood_groups.reset_index(drop=True, inplace=True)
neighbourhood_groups.to_sql('neighbourhood_groups', con=engine, if_exists='append', index=False)

2021-01-29 10:57:31,448 INFO sqlalchemy.engine.base.Engine DESCRIBE `neighbourhood_groups`
2021-01-29 10:57:31,449 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:31,963 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-29 10:57:31,964 INFO sqlalchemy.engine.base.Engine INSERT INTO neighbourhood_groups (neighbourhood_group) VALUES (%s)
2021-01-29 10:57:31,965 INFO sqlalchemy.engine.base.Engine (('Brooklyn',), ('Manhattan',), ('Queens',), ('Staten Island',), ('Bronx',))
2021-01-29 10:57:32,199 INFO sqlalchemy.engine.base.Engine COMMIT

## Neighbourhoods Table

In [6]:
engine = create_engine('mysql://eff3dkg8r5y5l42x:hldf6ajnwjyzo90f@cis9cbtgerlk68wl.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/dpuui2kh95t8cclk', echo=True)
meta = MetaData()
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()
connection = engine.connect()

2021-01-29 10:57:34,626 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-01-29 10:57:34,627 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:34,847 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-01-29 10:57:34,848 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:35,365 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2021-01-29 10:57:35,366 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:35,953 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2021-01-29 10:57:35,954 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:36,262 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2021-01-29 10:57:36,262 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:36,570 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2021-01-29 10:57:36,571 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:36,876 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2021-01-29 10:57:36,882 INFO sqlalchemy.engine.base.Engine ()

In [7]:
neighbourhood_groups = db.Table('neighbourhood_groups', meta, autoload=True, autoload_with=engine)
query = db.select([neighbourhood_groups])
ResultProxy = connection.execute(query)
neighbourhood_group_dict = {}
for rowproxy in ResultProxy:
    neighbourhood_group_dict[rowproxy[1]] = rowproxy[0]

2021-01-29 10:57:40,166 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `neighbourhood_groups`
2021-01-29 10:57:40,167 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:40,768 INFO sqlalchemy.engine.base.Engine SELECT neighbourhood_groups.neighbourhood_group_id, neighbourhood_groups.neighbourhood_group
FROM neighbourhood_groups
2021-01-29 10:57:40,769 INFO sqlalchemy.engine.base.Engine ()

In [8]:
neighbourhoods['neighbourhood_group_id'] = neighbourhoods['neighbourhood_group'].apply(lambda x: neighbourhood_group_dict[x])
neighbourhoods.drop(columns=['neighbourhood_group'], inplace = True)
neighbourhoods.reset_index(drop=True)
neighbourhoods.to_sql('neighbourhoods', con=engine, if_exists='append', index=False)

2021-01-29 10:57:41,089 INFO sqlalchemy.engine.base.Engine DESCRIBE `neighbourhoods`
2021-01-29 10:57:41,092 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:41,673 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-29 10:57:41,675 INFO sqlalchemy.engine.base.Engine INSERT INTO neighbourhoods (neighbourhood, neighbourhood_group_id) VALUES (%s, %s)
2021-01-29 10:57:41,676 INFO sqlalchemy.engine.base.Engine (('Kensington', 1001), ('Midtown', 1002), ('Harlem', 1002), ('Clinton Hill', 1001), ('East Harlem', 1002), ('Murray Hill', 1002), ('Bedford-Stuyvesant', 1001), ("Hell's Kitchen", 1002)  ... displaying 10 of 97 total bound parameter sets ...  ('Ozone Park', 1003), ('Columbia St', 1001))
2021-01-29 10:57:41,909 INFO sqlalchemy.engine.base.Engine COMMIT

## Locations Table

In [9]:
engine = create_engine('mysql://eff3dkg8r5y5l42x:hldf6ajnwjyzo90f@cis9cbtgerlk68wl.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/dpuui2kh95t8cclk', echo=True)
meta = MetaData()
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()
connection = engine.connect()

2021-01-29 10:57:46,707 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-01-29 10:57:46,708 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:47,018 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-01-29 10:57:47,019 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:47,526 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2021-01-29 10:57:47,528 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:48,054 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2021-01-29 10:57:48,055 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:48,276 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2021-01-29 10:57:48,276 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:48,508 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2021-01-29 10:57:48,510 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:48,755 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2021-01-29 10:57:48,756 INFO sqlalchemy.engine.base.Engine ()

In [10]:
neighbourhoods = db.Table('neighbourhoods', meta, autoload=True, autoload_with=engine)
query = db.select([neighbourhoods])
ResultProxy = connection.execute(query)
neighbourhood_dict = {}
for rowproxy in ResultProxy:
    neighbourhood_dict[rowproxy[1]] = rowproxy[0]

2021-01-29 10:57:51,314 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `neighbourhoods`
2021-01-29 10:57:51,315 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:51,544 INFO sqlalchemy.engine.base.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%s, %s, %s));

2021-01-29 10:57:51,545 INFO sqlalchemy.engine.base.Engine ('dpuui2kh95t8cclk', 'neighbourhood_groups', 'neighbourhood_group_id')
2021-01-29 10:57:51,828 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `neighbourhood_groups`
2021-01-29 10:57:51,829 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:52,443 INFO sqlalchemy.engine.base.Engine SELECT neighbourhoods.neighbourhood_id, neighbourhoods.neighbourhood, neighbourhoods.neighbourhood_group_id
FROM neighbourhoods
2021-01-29 10:57:52,443 INFO sqlalchemy.engine.base.Engine ()

In [11]:
locations['neighbourhood_id'] = locations['neighbourhood'].apply(lambda x: neighbourhood_dict[x])
locations.drop(columns=['neighbourhood', 'neighbourhood_group'], inplace = True)
locations.reset_index(drop=True)
locations.to_sql('locations', con=engine, if_exists='append', index=False)

2021-01-29 10:57:52,934 INFO sqlalchemy.engine.base.Engine DESCRIBE `locations`
2021-01-29 10:57:52,935 INFO sqlalchemy.engine.base.Engine ()

/Users/gabminamedez/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/gabminamedez/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

2021-01-29 10:57:53,416 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-29 10:57:53,422 INFO sqlalchemy.engine.base.Engine INSERT INTO locations (latitude, longitude, neighbourhood_id) VALUES (%s, %s, %s)
2021-01-29 10:57:53,423 INFO sqlalchemy.engine.base.Engine ((40.647490000000005, -73.97237, 2001), (40.75362, -73.98376999999999, 2002), (40.809020000000004, -73.9419, 2003), (40.685140000000004, -73.95976, 2004), (40.79851, -73.94399, 2005), (40.74767, -73.975, 2006), (40.68688, -73.95596, 2007), (40.76489, -73.98493, 2008)  ... displaying 10 of 999 total bound parameter sets ...  (40.7453, -73.99056, 2002), (40.728120000000004, -73.97966, 2020))
2021-01-29 10:57:54,241 INFO sqlalchemy.engine.base.Engine COMMIT

## Hosts Table

In [12]:
engine = create_engine('mysql://eff3dkg8r5y5l42x:hldf6ajnwjyzo90f@cis9cbtgerlk68wl.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/dpuui2kh95t8cclk', echo=True)
meta = MetaData()
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()
connection = engine.connect()

2021-01-29 10:57:56,663 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-01-29 10:57:56,664 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:56,945 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-01-29 10:57:56,946 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:57,409 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2021-01-29 10:57:57,411 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:57,869 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2021-01-29 10:57:57,870 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:58,109 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2021-01-29 10:57:58,110 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:58,340 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2021-01-29 10:57:58,341 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:57:58,570 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2021-01-29 10:57:58,571 INFO sqlalchemy.engine.base.Engine ()

In [13]:
hosts.sort_values(by=['host_id'], inplace=True)
hosts.reset_index(drop=True, inplace=True)
hosts.to_sql('hosts', con=engine, if_exists='append', index=False)

2021-01-29 10:58:01,349 INFO sqlalchemy.engine.base.Engine DESCRIBE `hosts`
2021-01-29 10:58:01,350 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:58:01,808 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-29 10:58:01,813 INFO sqlalchemy.engine.base.Engine INSERT INTO hosts (host_id, host_name) VALUES (%s, %s)
2021-01-29 10:58:01,814 INFO sqlalchemy.engine.base.Engine ((2787, 'John'), (2845, 'Jennifer'), (3647, 'Rafael'), (4396, 'Casey'), (4632, 'Elisabeth'), (4869, 'LisaRoxanne'), (7192, 'Laura'), (7310, 'Tilly')  ... displaying 10 of 843 total bound parameter sets ...  (9647066, 'Maria Luiza'), (10609846, 'Ben'))
2021-01-29 10:58:02,376 INFO sqlalchemy.engine.base.Engine COMMIT

## Room Types Table

In [14]:
engine = create_engine('mysql://eff3dkg8r5y5l42x:hldf6ajnwjyzo90f@cis9cbtgerlk68wl.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/dpuui2kh95t8cclk', echo=True)
meta = MetaData()
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()
connection = engine.connect()

2021-01-29 10:58:07,008 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-01-29 10:58:07,009 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:58:07,290 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-01-29 10:58:07,290 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:58:07,904 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2021-01-29 10:58:07,905 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:58:08,517 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2021-01-29 10:58:08,518 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:58:08,825 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2021-01-29 10:58:08,825 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:58:09,054 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2021-01-29 10:58:09,056 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:58:09,293 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2021-01-29 10:58:09,294 INFO sqlalchemy.engine.base.Engine ()

In [15]:
room_types.reset_index(drop=True, inplace=True)
room_types.to_sql('room_types', con=engine, if_exists='append', index=False)

2021-01-29 10:58:13,379 INFO sqlalchemy.engine.base.Engine DESCRIBE `room_types`
2021-01-29 10:58:13,380 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:58:13,865 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-29 10:58:13,866 INFO sqlalchemy.engine.base.Engine INSERT INTO room_types (room_type) VALUES (%s)
2021-01-29 10:58:13,867 INFO sqlalchemy.engine.base.Engine (('Private room',), ('Entire home/apt',), ('Shared room',))
2021-01-29 10:58:14,094 INFO sqlalchemy.engine.base.Engine COMMIT

## Listings Table

In [16]:
engine = create_engine('mysql://eff3dkg8r5y5l42x:hldf6ajnwjyzo90f@cis9cbtgerlk68wl.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/dpuui2kh95t8cclk', echo=True)
meta = MetaData()
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()
connection = engine.connect()

2021-01-29 10:58:16,390 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-01-29 10:58:16,391 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:58:16,711 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-01-29 10:58:16,712 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:58:17,243 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2021-01-29 10:58:17,244 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:58:17,734 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2021-01-29 10:58:17,735 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:58:17,990 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2021-01-29 10:58:17,991 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:58:18,217 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2021-01-29 10:58:18,218 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:58:18,505 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2021-01-29 10:58:18,507 INFO sqlalchemy.engine.base.Engine ()

In [17]:
room_types = db.Table('room_types', meta, autoload=True, autoload_with=engine)
query = db.select([room_types])
ResultProxy = connection.execute(query)
room_type_dict = {}
for rowproxy in ResultProxy:
    room_type_dict[rowproxy[1]] = rowproxy[0]

locations = db.Table('locations', meta, autoload=True, autoload_with=engine)
query = db.select([locations])
ResultProxy = connection.execute(query)
location_ids = []
for rowproxy in ResultProxy:
    location_ids.append(rowproxy[0])

2021-01-29 10:58:21,443 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `room_types`
2021-01-29 10:58:21,444 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:58:22,036 INFO sqlalchemy.engine.base.Engine SELECT room_types.room_type_id, room_types.room_type
FROM room_types
2021-01-29 10:58:22,037 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:58:22,561 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `locations`
2021-01-29 10:58:22,561 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:58:22,855 INFO sqlalchemy.engine.base.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%s, %s, %s));

2021-01-29 10:58:22,856 INFO sqlalchemy.engine.base.Engine ('dpuui2kh95t8cclk', 'neighbourhoods', 'neighbourhood_id')
2021-01-29 10:58:23,162 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `neighbourhoods`
2021-01-29 10:58:23,163 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:58:23,470 INFO sqlalchemy.engine.base.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%s, %s, %s));

2021-01-29 10:58:23,471 INFO sqlalchemy.engine.base.Engine ('dpuui2kh95t8cclk', 'neighbourhood_groups', 'neighbourhood_group_id')
2021-01-29 10:58:23,776 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `neighbourhood_groups`
2021-01-29 10:58:23,777 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:58:24,391 INFO sqlalchemy.engine.base.Engine SELECT locations.location_id, locations.latitude, locations.longitude, locations.neighbourhood_id
FROM locations
2021-01-29 10:58:24,392 INFO sqlalchemy.engine.base.Engine ()

In [18]:
df['location_id'] = pd.Series(location_ids)
df['room_type_id'] = df['room_type'].apply(lambda x : room_type_dict[x])
df.drop(columns=['host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type'], inplace=True)
df.reset_index(drop=True)
df = df[['id', 'name', 'price', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365', 'host_id', 'location_id', 'room_type_id']]
df.to_sql('listings', con=engine, if_exists='append', index=False)

2021-01-29 10:58:24,952 INFO sqlalchemy.engine.base.Engine DESCRIBE `listings`
2021-01-29 10:58:24,956 INFO sqlalchemy.engine.base.Engine ()
2021-01-29 10:58:25,424 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-29 10:58:25,446 INFO sqlalchemy.engine.base.Engine INSERT INTO listings (id, name, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, availability_365, host_id, location_id, room_type_id) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2021-01-29 10:58:25,446 INFO sqlalchemy.engine.base.Engine ((2539, 'Clean & quiet apt home by the park', 149, 1, 9, '2018-10-19', 0.21, 365, 2787, 3001, 4001), (2595, 'Skylit Midtown Castle', 225, 1, 45, '2019-05-21', 0.38, 355, 2845, 3002, 4002), (3647, 'THE VILLAGE OF HARLEM....NEW YORK !', 150, 3, 0, None, None, 365, 4632, 3003, 4001), (3831, 'Cozy Entire Floor of Brownstone', 89, 1, 270, '2019-07-05', 4.64, 194, 4869, 3004, 4002), (5022, 'Entire Apt: Spacious Studio/Loft by central park', 80, 10, 9, '2018-11-19', 0.1, 0, 7192, 3005, 4002), (5099, 'Large Cozy 1 BR Apartment In Midtown East', 200, 3, 74, '2019-06-22', 0.59, 129, 7322, 3006, 4002), (5121, 'BlissArtsSpace!', 60, 45, 49, '2017-10-05', 0.4, 0, 7356, 3007, 4001), (5178, "Large Furnished Room Near B'way ", 79, 2, 430, '2019-06-24', 3.47, 220, 8967, 3008, 4001)  ... displaying 10 of 999 total bound parameter sets ...  (403264, 'Luxury room in Manhattan Duplex Apt', 145, 3, 165, '2019-07-03', 1.88, 181, 1386983, 3998, 4001), (403668, 'Gorgeous Sunny, Spacious 1 bdrm in East Village', 147, 2, 16, '2019-01-02', 0.18, 0, 2013117, 3999, 4002))
2021-01-29 10:58:26,542 INFO sqlalchemy.engine.base.Engine COMMIT