# ETL Process

## Imports

In [1]:
import pandas as pd
import sqlalchemy as db
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData
from sqlalchemy.dialects.mysql import VARCHAR, INTEGER, DECIMAL
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

## Dataset

In [2]:
df = pd.read_csv('data.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,0

## Prepare Individual Dataframes

In [3]:
hosts = df[['host_id', 'host_name']].drop_duplicates()
room_types = df[['room_type']].drop_duplicates()
locations = df[['latitude', 'longitude', 'neighbourhood', 'neighbourhood_group']]
neighbourhoods = df[['neighbourhood', 'neighbourhood_group']].drop_duplicates()
neighbourhood_groups = df[['neighbourhood_group']].drop_duplicates()

## Neighbourhood Groups Table

In [4]:
engine = create_engine('mysql://eff3dkg8r5y5l42x:hldf6ajnwjyzo90f@cis9cbtgerlk68wl.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/dpuui2kh95t8cclk', echo=True)
meta = MetaData()
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()
connection = engine.connect()

2021-01-26 16:34:55,989 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-01-26 16:34:55,991 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:34:56,294 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-01-26 16:34:56,295 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:34:57,114 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2021-01-26 16:34:57,114 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:34:57,831 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2021-01-26 16:34:57,832 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:34:58,134 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2021-01-26 16:34:58,135 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:34:58,451 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2021-01-26 16:34:58,452 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:34:58,853 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2021-01-26 16:34:58,854 INFO sqlalchemy.engine.base.Engine ()

In [5]:
neighbourhood_groups.reset_index(drop=True, inplace=True)
neighbourhood_groups.to_sql('neighbourhood_groups', con=engine, if_exists='append', index=False)

2021-01-26 16:35:01,923 INFO sqlalchemy.engine.base.Engine DESCRIBE `neighbourhood_groups`
2021-01-26 16:35:01,924 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:02,639 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-26 16:35:02,641 INFO sqlalchemy.engine.base.Engine INSERT INTO neighbourhood_groups (neighbourhood_group) VALUES (%s)
2021-01-26 16:35:02,641 INFO sqlalchemy.engine.base.Engine (('Brooklyn',), ('Manhattan',), ('Queens',), ('Staten Island',), ('Bronx',))
2021-01-26 16:35:02,953 INFO sqlalchemy.engine.base.Engine COMMIT

## Neighbourhoods Table

In [6]:
engine = create_engine('mysql://eff3dkg8r5y5l42x:hldf6ajnwjyzo90f@cis9cbtgerlk68wl.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/dpuui2kh95t8cclk', echo=True)
meta = MetaData()
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()
connection = engine.connect()

2021-01-26 16:35:06,122 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-01-26 16:35:06,123 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:06,541 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-01-26 16:35:06,542 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:07,066 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2021-01-26 16:35:07,067 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:07,762 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2021-01-26 16:35:07,763 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:08,066 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2021-01-26 16:35:08,067 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:08,292 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2021-01-26 16:35:08,293 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:08,589 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2021-01-26 16:35:08,590 INFO sqlalchemy.engine.base.Engine ()

In [7]:
neighbourhood_groups = db.Table('neighbourhood_groups', meta, autoload=True, autoload_with=engine)
query = db.select([neighbourhood_groups])
ResultProxy = connection.execute(query)
neighbourhood_group_dict = {}
for rowproxy in ResultProxy:
    neighbourhood_group_dict[rowproxy[1]] = rowproxy[0]

2021-01-26 16:35:15,045 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `neighbourhood_groups`
2021-01-26 16:35:15,046 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:15,600 INFO sqlalchemy.engine.base.Engine SELECT neighbourhood_groups.neighbourhood_group_id, neighbourhood_groups.neighbourhood_group
FROM neighbourhood_groups
2021-01-26 16:35:15,601 INFO sqlalchemy.engine.base.Engine ()

In [8]:
neighbourhoods['neighbourhood_group_id'] = neighbourhoods['neighbourhood_group'].apply(lambda x: neighbourhood_group_dict[x])
neighbourhoods.drop(columns=['neighbourhood_group'], inplace = True)
neighbourhoods.reset_index(drop=True)
neighbourhoods.to_sql('neighbourhoods', con=engine, if_exists='append', index=False)

2021-01-26 16:35:15,841 INFO sqlalchemy.engine.base.Engine DESCRIBE `neighbourhoods`
2021-01-26 16:35:15,843 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:17,804 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-26 16:35:17,807 INFO sqlalchemy.engine.base.Engine INSERT INTO neighbourhoods (neighbourhood, neighbourhood_group_id) VALUES (%s, %s)
2021-01-26 16:35:17,808 INFO sqlalchemy.engine.base.Engine (('Kensington', 1001), ('Midtown', 1002), ('Harlem', 1002), ('Clinton Hill', 1001), ('East Harlem', 1002), ('Murray Hill', 1002), ('Bedford-Stuyvesant', 1001), ("Hell's Kitchen", 1002)  ... displaying 10 of 97 total bound parameter sets ...  ('Ozone Park', 1003), ('Columbia St', 1001))
2021-01-26 16:35:18,515 INFO sqlalchemy.engine.base.Engine COMMIT

## Locations Table

In [9]:
engine = create_engine('mysql://eff3dkg8r5y5l42x:hldf6ajnwjyzo90f@cis9cbtgerlk68wl.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/dpuui2kh95t8cclk', echo=True)
meta = MetaData()
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()
connection = engine.connect()

2021-01-26 16:35:21,487 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-01-26 16:35:21,488 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:21,970 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-01-26 16:35:21,971 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:23,428 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2021-01-26 16:35:23,429 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:24,249 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2021-01-26 16:35:24,250 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:25,074 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2021-01-26 16:35:25,075 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:25,383 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2021-01-26 16:35:25,384 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:25,889 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2021-01-26 16:35:25,890 INFO sqlalchemy.engine.base.Engine ()

In [10]:
neighbourhoods = db.Table('neighbourhoods', meta, autoload=True, autoload_with=engine)
query = db.select([neighbourhoods])
ResultProxy = connection.execute(query)
neighbourhood_dict = {}
for rowproxy in ResultProxy:
    neighbourhood_dict[rowproxy[1]] = rowproxy[0]

2021-01-26 16:35:32,130 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `neighbourhoods`
2021-01-26 16:35:32,131 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:32,550 INFO sqlalchemy.engine.base.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%s, %s, %s));

2021-01-26 16:35:32,551 INFO sqlalchemy.engine.base.Engine ('dpuui2kh95t8cclk', 'neighbourhood_groups', 'neighbourhood_group_id')
2021-01-26 16:35:32,948 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `neighbourhood_groups`
2021-01-26 16:35:32,949 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:33,568 INFO sqlalchemy.engine.base.Engine SELECT neighbourhoods.neighbourhood_id, neighbourhoods.neighbourhood, neighbourhoods.neighbourhood_group_id
FROM neighbourhoods
2021-01-26 16:35:33,569 INFO sqlalchemy.engine.base.Engine ()

In [11]:
locations['neighbourhood_id'] = locations['neighbourhood'].apply(lambda x: neighbourhood_dict[x])
locations.drop(columns=['neighbourhood', 'neighbourhood_group'], inplace = True)
locations.reset_index(drop=True)
locations.to_sql('locations', con=engine, if_exists='append', index=False)

2021-01-26 16:35:34,134 INFO sqlalchemy.engine.base.Engine DESCRIBE `locations`
2021-01-26 16:35:34,135 INFO sqlalchemy.engine.base.Engine ()

/Users/gabminamedez/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/gabminamedez/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

2021-01-26 16:35:36,161 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-26 16:35:36,167 INFO sqlalchemy.engine.base.Engine INSERT INTO locations (latitude, longitude, neighbourhood_id) VALUES (%s, %s, %s)
2021-01-26 16:35:36,168 INFO sqlalchemy.engine.base.Engine ((40.647490000000005, -73.97237, 2001), (40.75362, -73.98376999999999, 2002), (40.809020000000004, -73.9419, 2003), (40.685140000000004, -73.95976, 2004), (40.79851, -73.94399, 2005), (40.74767, -73.975, 2006), (40.68688, -73.95596, 2007), (40.76489, -73.98493, 2008)  ... displaying 10 of 999 total bound parameter sets ...  (40.7453, -73.99056, 2002), (40.728120000000004, -73.97966, 2020))
2021-01-26 16:35:38,888 INFO sqlalchemy.engine.base.Engine COMMIT

## Hosts Table

In [12]:
engine = create_engine('mysql://eff3dkg8r5y5l42x:hldf6ajnwjyzo90f@cis9cbtgerlk68wl.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/dpuui2kh95t8cclk', echo=True)
meta = MetaData()
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()
connection = engine.connect()

2021-01-26 16:35:41,657 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-01-26 16:35:41,658 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:41,970 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-01-26 16:35:41,971 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:42,689 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2021-01-26 16:35:42,690 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:43,300 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2021-01-26 16:35:43,301 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:43,703 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2021-01-26 16:35:43,705 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:44,009 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2021-01-26 16:35:44,009 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:44,318 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2021-01-26 16:35:44,319 INFO sqlalchemy.engine.base.Engine ()

In [13]:
hosts.sort_values(by=['host_id'], inplace=True)
hosts.reset_index(drop=True, inplace=True)
hosts.to_sql('hosts', con=engine, if_exists='append', index=False)

2021-01-26 16:35:48,928 INFO sqlalchemy.engine.base.Engine DESCRIBE `hosts`
2021-01-26 16:35:48,929 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:49,455 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-26 16:35:49,462 INFO sqlalchemy.engine.base.Engine INSERT INTO hosts (host_id, host_name) VALUES (%s, %s)
2021-01-26 16:35:49,464 INFO sqlalchemy.engine.base.Engine ((2787, 'John'), (2845, 'Jennifer'), (3647, 'Rafael'), (4396, 'Casey'), (4632, 'Elisabeth'), (4869, 'LisaRoxanne'), (7192, 'Laura'), (7310, 'Tilly')  ... displaying 10 of 843 total bound parameter sets ...  (9647066, 'Maria Luiza'), (10609846, 'Ben'))
2021-01-26 16:35:50,373 INFO sqlalchemy.engine.base.Engine COMMIT

## Room Types Table

In [14]:
engine = create_engine('mysql://eff3dkg8r5y5l42x:hldf6ajnwjyzo90f@cis9cbtgerlk68wl.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/dpuui2kh95t8cclk', echo=True)
meta = MetaData()
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()
connection = engine.connect()

2021-01-26 16:35:53,434 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-01-26 16:35:53,435 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:53,661 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-01-26 16:35:53,662 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:54,357 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2021-01-26 16:35:54,357 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:55,068 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2021-01-26 16:35:55,069 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:55,498 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2021-01-26 16:35:55,499 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:55,797 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2021-01-26 16:35:55,798 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:35:56,092 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2021-01-26 16:35:56,093 INFO sqlalchemy.engine.base.Engine ()

In [15]:
room_types.reset_index(drop=True, inplace=True)
room_types.to_sql('room_types', con=engine, if_exists='append', index=False)

2021-01-26 16:35:59,576 INFO sqlalchemy.engine.base.Engine DESCRIBE `room_types`
2021-01-26 16:35:59,577 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:36:00,301 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-26 16:36:00,302 INFO sqlalchemy.engine.base.Engine INSERT INTO room_types (room_type) VALUES (%s)
2021-01-26 16:36:00,304 INFO sqlalchemy.engine.base.Engine (('Private room',), ('Entire home/apt',), ('Shared room',))
2021-01-26 16:36:00,532 INFO sqlalchemy.engine.base.Engine COMMIT

## Listings Table

In [16]:
engine = create_engine('mysql://eff3dkg8r5y5l42x:hldf6ajnwjyzo90f@cis9cbtgerlk68wl.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/dpuui2kh95t8cclk', echo=True)
meta = MetaData()
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()
connection = engine.connect()

2021-01-26 16:36:03,266 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-01-26 16:36:03,267 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:36:03,573 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-01-26 16:36:03,574 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:36:04,390 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2021-01-26 16:36:04,392 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:36:05,003 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2021-01-26 16:36:05,004 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:36:05,415 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2021-01-26 16:36:05,416 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:36:05,725 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2021-01-26 16:36:05,726 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:36:06,028 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2021-01-26 16:36:06,029 INFO sqlalchemy.engine.base.Engine ()

In [17]:
room_types = db.Table('room_types', meta, autoload=True, autoload_with=engine)
query = db.select([room_types])
ResultProxy = connection.execute(query)
room_type_dict = {}
for rowproxy in ResultProxy:
    room_type_dict[rowproxy[1]] = rowproxy[0]

locations = db.Table('locations', meta, autoload=True, autoload_with=engine)
query = db.select([locations])
ResultProxy = connection.execute(query)
location_ids = []
for rowproxy in ResultProxy:
    location_ids.append(rowproxy[0])

2021-01-26 16:36:11,167 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `room_types`
2021-01-26 16:36:11,168 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:36:11,668 INFO sqlalchemy.engine.base.Engine SELECT room_types.room_type_id, room_types.room_type
FROM room_types
2021-01-26 16:36:11,668 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:36:12,192 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `locations`
2021-01-26 16:36:12,193 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:36:12,596 INFO sqlalchemy.engine.base.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%s, %s, %s));

2021-01-26 16:36:12,597 INFO sqlalchemy.engine.base.Engine ('dpuui2kh95t8cclk', 'neighbourhoods', 'neighbourhood_id')
2021-01-26 16:36:12,887 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `neighbourhoods`
2021-01-26 16:36:12,887 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:36:13,121 INFO sqlalchemy.engine.base.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%s, %s, %s));

2021-01-26 16:36:13,122 INFO sqlalchemy.engine.base.Engine ('dpuui2kh95t8cclk', 'neighbourhood_groups', 'neighbourhood_group_id')
2021-01-26 16:36:13,349 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `neighbourhood_groups`
2021-01-26 16:36:13,350 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:36:13,923 INFO sqlalchemy.engine.base.Engine SELECT locations.location_id, locations.latitude, locations.longitude, locations.neighbourhood_id
FROM locations
2021-01-26 16:36:13,924 INFO sqlalchemy.engine.base.Engine ()

In [18]:
df['location_id'] = pd.Series(location_ids)
df['room_type_id'] = df['room_type'].apply(lambda x : room_type_dict[x])
df.drop(columns=['host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type'], inplace=True)
df.reset_index(drop=True)
df = df[['id', 'name', 'price', 'minimum_nights', 'number_of_reviews', 'reviews_per_month', 'availability_365', 'host_id', 'location_id', 'room_type_id']]
df.to_sql('listings', con=engine, if_exists='append', index=False)

2021-01-26 16:36:14,574 INFO sqlalchemy.engine.base.Engine DESCRIBE `listings`
2021-01-26 16:36:14,576 INFO sqlalchemy.engine.base.Engine ()
2021-01-26 16:36:15,249 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-26 16:36:15,271 INFO sqlalchemy.engine.base.Engine INSERT INTO listings (id, name, price, minimum_nights, number_of_reviews, reviews_per_month, availability_365, host_id, location_id, room_type_id) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2021-01-26 16:36:15,273 INFO sqlalchemy.engine.base.Engine ((2539, 'Clean & quiet apt home by the park', 149, 1, 9, 0.21, 365, 2787, 3001, 4001), (2595, 'Skylit Midtown Castle', 225, 1, 45, 0.38, 355, 2845, 3002, 4002), (3647, 'THE VILLAGE OF HARLEM....NEW YORK !', 150, 3, 0, None, 365, 4632, 3003, 4001), (3831, 'Cozy Entire Floor of Brownstone', 89, 1, 270, 4.64, 194, 4869, 3004, 4002), (5022, 'Entire Apt: Spacious Studio/Loft by central park', 80, 10, 9, 0.1, 0, 7192, 3005, 4002), (5099, 'Large Cozy 1 BR Apartment In Midtown East', 200, 3, 74, 0.59, 129, 7322, 3006, 4002), (5121, 'BlissArtsSpace!', 60, 45, 49, 0.4, 0, 7356, 3007, 4001), (5178, "Large Furnished Room Near B'way ", 79, 2, 430, 3.47, 220, 8967, 3008, 4001)  ... displaying 10 of 999 total bound parameter sets ...  (403264, 'Luxury room in Manhattan Duplex Apt', 145, 3, 165, 1.88, 181, 1386983, 3998, 4001), (403668, 'Gorgeous Sunny, Spacious 1 bdrm in East Village', 147, 2, 16, 0.18, 0, 2013117, 3999, 4002))
2021-01-26 16:36:16,580 INFO sqlalchemy.engine.base.Engine COMMIT